body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

header > img {
    font-size: 24px;
    color: #F9FAF8;
}

nav {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

#article1, #placeholder {
    display: grid;
}

#article1 > button {
    background-color: #3882F6;
}

#article1 > p, #article1 > button {
    font-size: 18px;
    color: #E5E7EB;
}

#footer {
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
}

#header, #section1 {
    display: grid;
    grid-template-columns: 350px 350px;
    gap: 20px;
    justify-content: center;
    background-color: #1F2937;
}

#section1 > img {
    font-size: 18px;
    color: #E5E7EB;
    background-color: #6C747D;
}

#section2 {
    display: grid;
    grid-template-columns: 800px;
    grid-template-rows: 100px 200px;
    justify-content: center;
    justify-items: center;
}

#section3 {
    display: flex;
    flex-direction: column;
    width: 800px;
    align-items: flex-end;
    background-color: #E5E7EB;
}

#section3 > p {
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    font-style: italic;
}

#section3 > span {
    font-size: 24px;
    font-weight: 700;
}

#section4 {
    display: flex;
    justify-content: center;
}

#subsection1 {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    color: #6C747D;
    font-size: 18px;
}

#subsection2 {
    display: flex;
    align-items: center;
    background-color: #3882F6
}

#subsection2 > article {
    color: #F9FAF8;
}

#subsection2 > button {
    background-color: #3882F6;
    color: #F9FAF8;
}