body {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
}

#article1, #placeholder {
    display: grid;
}

#header, #section1 {
    display: grid;
    grid-template-columns: 350px 350px;
    gap: 20px;
    justify-content: center;
}